<aside
  class="fixed top-0 left-0 h-full w-64 bg-white border-r border-black
         transform -translate-x-full transition-transform duration-300 z-50"
  data-mobile-menu-target="menu"
>
  <div class="flex items-center justify-between h-16 px-4 border-b border-black">
    <span class="font-semibold text-sm">Меню</span>
    <button
      class="icon-btn"
      data-action="click->mobile-menu#close"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <nav class="flex flex-col p-4 gap-4 text-sm">
    <%= link_to "Каталог", catalog_path, class: "nav-link" %>
    <%= link_to "Категорії", categories_path, class: "nav-link" %>
    <%= link_to "Колекції", collections_path, class: "nav-link" %>
    <%= link_to "Про нас", "#", class: "nav-link" %>

    <hr class="my-2 border-black">

    <% if user_signed_in? %>
      <% if current_user.role == "manager" %>
        <%= link_to "Адмін-панель", admin_root_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Профіль", profile_path, class: "nav-link" %>
      <% end %>
    <% else %>
      <%= link_to "Увійти", new_user_session_path, class: "nav-link" %>
    <% end %>
  </nav>
</aside>
