<section class="pt-4 pb-16" data-controller="filter">
  <div class="container">

    <h1 class="text-center text-xl mb-8">
      Каталог
    </h1>

    <form method="get"
      class="mb-8 flex flex-col gap-4
             lg:flex-row lg:items-center lg:gap-4">

  <div class="flex-1">
    <input
      type="text"
      name="query"
      value="<%= params[:query] %>"
      placeholder="Пошук товару"
      class="search-input w-full"
    >
  </div>

  <div class="w-full lg:w-64">
    <select name="sort"
            onchange="this.form.submit()"
            class="search-input w-full">
      <option value="">Сортувати</option>
      <option value="newest" <%= "selected" if params[:sort] == "newest" %>>Нові</option>
      <option value="price_asc" <%= "selected" if params[:sort] == "price_asc" %>>Ціна ↑</option>
      <option value="price_desc" <%= "selected" if params[:sort] == "price_desc" %>>Ціна ↓</option>
      <option value="rating_desc" <%= "selected" if params[:sort] == "rating_desc" %>>Рейтинг</option>
    </select>
  </div>

  <% params.except(:controller, :action, :query, :page, :sort).each do |key, value| %>
    <% Array(value).each do |v| %>
      <input type="hidden"
             name="<%= "#{key}[]" if value.is_a?(Array) %>"
             value="<%= v %>">
    <% end %>
  <% end %>

  <div class="flex gap-2 w-full lg:w-auto">
    <button type="submit" class="primary-button w-full lg:w-auto">
      Шукати
    </button>

    <button type="button"
            class="primary-button w-full lg:w-auto lg:hidden"
            data-action="click->filter#open">
      <i class="fa-solid fa-sliders"></i>
    </button>
  </div>
</form>


    <div class="flex gap-8">

      <aside class="w-64 shrink-0 hidden lg:block border border-black p-4">
        <%= render "catalog/filters" %>
      </aside>

      <aside
        class="fixed top-0 right-0 w-full h-full bg-white z-50
               transform translate-x-full transition-transform duration-300
               border-l border-black p-4 lg:hidden"
        data-filter-target="sidebar"
      >
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-sm font-semibold">Фільтри</h2>
          <button class="icon-btn" data-action="click->filter#close">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <%= render "catalog/filters" %>
      </aside>

      <div class="flex-1">

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @products.each do |product| %>
            <%= render "products/card", product: product %>
          <% end %>
        </div>

        <div class="flex justify-center mt-12">
          <%= paginate @products, theme: "custom", params: request.query_parameters %>
        </div>

      </div>
    </div>
  </div>
</section>
