<section class="py-12">
  <div class="container max-w-3xl">

    <div class="flex justify-between items-center mb-6">
      <h1 class="text-xl">Категорії</h1>

      <%= link_to "Додати",
          new_admin_category_path,
          class: "primary-button" %>
    </div>

    <table class="w-full text-sm border">
      <thead>
        <tr class="border-b">
          <th class="p-2 text-left">Назва</th>
          <th class="p-2">Товари</th>
          <th class="p-2"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr class="border-b">
            <td class="p-2"><%= category.name %></td>
            <td class="p-2 text-center"><%= category.products.count %></td>
            <td class="p-2 text-right flex gap-2 justify-end">
              <%= link_to "Редагувати",
                  edit_admin_category_path(category),
                  class: "text-blue-600" %>

              <%= button_to "Видалити",
                  admin_category_path(category),
                  method: :delete,
                  data: { confirm: "Ви впевнені?" },
                  class: "text-red-600",
                  disabled: category.products.any? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>
